@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    /* background: linear-gradient(180deg, #0d6579, #050079); */
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

/* Texto explicación */
.descripcion {
    max-width: 500px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 0.95rem;
    color: #ffffff;
}

/* Select */
select {
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid #d1d5db;
    background: #ffffff;
    font-size: 1rem;
    margin-bottom: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}

select:hover {
    border-color: #c59d5f;
}

select:focus {
    outline: none;
    border-color: #c59d5f;
    box-shadow: 0 0 0 3px rgba(197, 157, 95, 0.2);
}

/* Título casa */
h2 {
    margin-bottom: 30px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #000000;
    border: #000000 4px solid;
    border-radius: 20px;    
    cursor: pointer;
    letter-spacing: 1px;
}

/* Grid personajes */
ul {
    list-style: none;
    width: 100%;
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 25px;
}

/* Tarjeta personaje */
li {
    background: #000000;
    border-radius: 18px;
    padding: 25px 15px;
    text-align: center;
    cursor: pointer;
    box-shadow:
        0 10px 25px rgb(255, 255, 255),
        0 2px 6px rgb(255, 255, 255);
    transition: all 0.35s ease;
}

li:hover {
    transform: translateY(-8px);
    box-shadow:
        0 18px 40px rgba(0, 0, 0, 0.15);
}

/* Imagen personaje */
li img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 14px;
    border: 3px solid #e5e7eb;
}

/* Nombre personaje */
li p {
    font-size: 0.95rem;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.3;
}

/* Responsive */
@media (max-width: 600px) {
    h2 {
        font-size: 1.4rem;
    }

    ul {
        gap: 18px;
    }
}
